@import "modules.css";

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__top {
  padding: 10px 0;
  padding-left: 193px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  color: var(--color-text-primary);
  background-color: #f9f9ff;
}

.site-header__top .site-header__container {
  max-width: 1117px;
}

.address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.address::before {
  content: "";
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background: url("../img/icon-home.svg") no-repeat center / contain;
}

.phones {
  display: flex;
  align-items: center;
}

.phones::before {
  content: "";
  margin-right: 9px;
  width: 13px;
  height: 13px;
  background: url("../img/icon-call.svg") no-repeat center / contain;
}

.phones__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.phones__list {
  flex-direction: column;
}

.phones--horizontal .phones__list {
  flex-direction: row;
}

.phones--horizontal .phones__item {
  display: flex;
  align-items: center;
}

.phones--horizontal .phones__item:not(:last-child) {
  margin-right: 9px;
}

.phones--horizontal .phones__item:not(:last-child)::after {
  content: "";
  margin-left: 9px;
  width: 4px;
  height: 4px;
  background: url("../img/icon-dot.svg") no-repeat center / contain;
}

.phones__link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.phones__link:hover {
  color: var(--color-orange);
}

.phones__link:active {
  opacity: 0.6;
}

.working-times {
  display: flex;
  align-items: center;
}

.working-time__list {
  flex-direction: column;
}

.working-times--horizontal .working-time__list {
  flex-direction: row;
}

.working-times::before {
  content: "";
  margin-right: 9px;
  width: 14px;
  height: 14px;
  background: url("../img/icon-schedule.svg") no-repeat center / contain;
}

.working-time__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__inner {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}

.logo-wrapper {
  position: relative;
  z-index: 1;
  width: 178px;
  height: 100%;
}

.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo img {
  display: block;
}

.sitenav {
  margin: 0 auto;
  max-width: 800px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  list-style: none;
}

.sitenav__item {
  display: flex;
  align-items: center;
}

.sitenav__item.sitenav__item--active::before {
  content: "";
  margin-right: 12px;
  width: 21px;
  height: 22px;
  background: url("../img/icon-fish.svg") no-repeat center / contain;
}

.sitenav__item:not(:last-child) {
  margin-right: 55px;
}

.sitenav__link {
  position: relative;
  z-index: 1;
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: opacity 0.3s ease;
}

.sitenav__link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sitenav__link:hover::after {
  opacity: 1;
}

.sitenav__link:active {
  opacity: 0.6;
}

.question-link {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: opacity 0.3s ease;
}

.question-link::before {
  content: "";
  margin-right: 5px;
  width: 28px;
  height: 27px;
  background: url("../img/icon-pet.svg") no-repeat center / contain;
}

.question-link::after {
  content: "";
  position: absolute;
  bottom: 6.5px;
  right: 0;
  z-index: -1;
  width: calc(100% - 33px);
  height: 4px;
  background-color: #f4ffad;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.question-link:hover::after {
  opacity: 1;
}

.question-link:active {
  opacity: 0.6;
}

/* HERO */

.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 153px 32px;
  padding-bottom: 290px;
}

.hero__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
}

.hero__inner::before {
  content: "";
  position: absolute;
  bottom: -130px;
  left: -280px;
  width: 870px;
  height: 835px;
  background: url("../img/bg-hero-pets.png") no-repeat center / contain;
}

.hero__inner::after {
  content: "";
  position: absolute;
  bottom: -230px;
  right: -220px;
  width: 350px;
  height: 430px;
  background: url("../img/bg-hero-parrot.png") no-repeat center / contain;
}

.hero__wrapper {
  max-width: 608px;
}

.hero__heading {
  margin-bottom: 30px;
}

.hero__heading span {
  color: #78c0de;
}

.hero__text {
  margin: 0;
  margin-bottom: 38px;
  max-width: 495px;
  line-height: 21px;
}

/* QUOTES */
.quotes {
  text-align: center;
}

.quotes__container {
  padding: 0 135px;
  max-width: 1134px;
}

.quote {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 35px;
}

.quote::before,
.quote::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quote::before {
  top: 0;
  left: 0;
  background-image: url(../img/icon-quote-open.svg);
}

.quote::after {
  bottom: 15px;
  right: 0;
  background-image: url(../img/icon-quote-close.svg);
}

.quote__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 753px;
}

.quote__text::before {
  content: "";
  margin-bottom: 45px;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
}

.quote__text::after {
  content: "";
  margin-top: 35px;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
}

.quotes__author {
  display: block;
  font-weight: 500;
  color: var(--color-text-primary);
}

/* SERVICES */

.services {
  padding-top: 190px;
  padding-bottom: 235px;
}

.services__heading {
  margin-bottom: 80px;
  text-align: center;
}

.services-slider {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.services-slider__button {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.services-slider__button:hover {
  background-color: #fff;
}

.services-slider__button:active {
  opacity: 0.6;
}

.services-slider__button--left {
  left: 0;
  background-image: url("../img/icon-arrow-left.svg");
}

.services-slider__button--right {
  right: 0;
  transform: translate(50%, -50%);
  background-image: url("../img/icon-arrow-right.svg");
}

.services-slider__list {
  display: flex;
  margin: 0 43px;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.services-slider__item {
  flex-shrink: 0;
  width: 193px;
}

.services-slider__item:not(.services-slider__item--active) {
  margin-bottom: 14px;
}

.services-slider__item--active {
  position: relative;
  z-index: 10;
}

.services-slider__item--active .services-slider__link {
  border: none;
  border-radius: 5px 5px 0px 0px;
}

.services-slider__item--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-color: #fff;
}

.services-slider__item:not(:last-child) {
  margin-right: 13px;
}

.services-slider__heading {
  margin: 0 auto;
  max-width: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.services-slider__link {
  display: block;
  margin: 0;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-primary);

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.services-slider__link:hover {
  opacity: 0.8;
}

.services-slider__link:active {
  opacity: 0.6;
}

.services-slider__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.services-slider__item--1 .services-slider__link::before {
  background-image: url("../img/service-1.png");
}

.services-slider__item--2 .services-slider__link::before {
  background-image: url("../img/service-2.png");
}

.services-slider__item--3 .services-slider__link::before {
  background-image: url("../img/service-3.png");
}

.services-slider__item--4 .services-slider__link::before {
  background-image: url("../img/service-4.png");
}

.services-slider__item--5 .services-slider__link::before {
  background-image: url("../img/service-5.png");
}

.services-slider__item--6 .services-slider__link::before {
  background-image: url("../img/service-6.png");
}

.services-slider__item--7 .services-slider__link::before {
  background-image: url("../img/service-7.png");
}

.services-slider__item--8 .services-slider__link::before {
  background-image: url("../img/service-8.png");
}

.services-slider__item--9 .services-slider__link::before {
  background-image: url("../img/service-9.png");
}

.services-slider__item--10 .services-slider__link::before {
  background-image: url("../img/service-10.png");
}

.services-slider__item--11 .services-slider__link::before {
  background-image: url("../img/service-11.png");
}

.services-slider__item--12 .services-slider__link::before {
  background-image: url("../img/service-12.png");
}

.services__list {
  margin: 0;
  padding: 0 43px;
  list-style: none;
}

.service {
  display: flex;
  align-items: center;
  padding: 43px 0;
  padding-left: 35px;
  padding-right: 105px;
  background-color: #fff;
}

.service__photo {
  margin-right: 67px;
}

.service__title {
  margin-bottom: 18px;
}

.service__text {
  margin-bottom: 34px;
}

.service__paragraph {
  margin: 0;
}

.service__paragraph:not(:last-child) {
  margin-bottom: 9px;
}

.service__actions {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__actions-item {
  margin-right: 21px;
}

.service__btn {
  display: inline-flex;
  align-items: center;
}

.service__btn::before {
  content: "";
  margin-right: 7px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.service__btn--money::before {
  background-image: url("../img/icon-money.svg");
}

.service__btn--doc::before {
  background-image: url("../img/icon-doc.svg");
}

/* SUBSCRIBE */

.subscribe {
  padding: 90px 0;
  padding-left: 222px;
  border-radius: 5px;
  background: url("../img/bg-subscribe.svg") no-repeat center / cover;
}

.subscribe__inner {
  position: relative;
}

.subscribe__inner::after {
  content: "";
  position: absolute;
  bottom: -152px;
  right: 190px;
  width: 613px;
  height: 481px;
  background: url(../img/bg-subscribe-puppy.png) no-repeat center / contain;
}

.subscribe__heading {
  margin-bottom: 32px;
  color: #fff;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 335px;
  padding: 15px 22px;
  color: var(--color-text-primary);
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.subscribe__input:first-child {
  margin-right: 21px;
}

.subscribe__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ff6347;
}

.subscribe__input:not(:focus):not(:placeholder-shown):valid {
  border-color: #90ee90;
}

.subscribe__input::placeholder {
  color: var(--color-text-secondary);
}

/* ARTICLES */

.articles {
  padding-top: 216px;
  padding-bottom: 262px;
}

.articles__heading {
  margin-bottom: 80px;
  text-align: center;
}

.articles__list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0 7px;
}

.articles__item:not(:last-child) {
  margin-right: 24px;
}

.article {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 305px;
  height: 435px;
  background-color: #fff;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
}

.article__poster {
  width: 305px;
  object-fit: cover;
}

.article__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2px;
}

.article__tags-list {
  display: none;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.article__tags-item:not(:last-child) {
  margin-right: 7px;
}

.article__tag {
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #3d9cea;
}

.article__tag:hover {
  text-decoration: underline;
}

.article__date {
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.article__info {
  padding: 22px;
  padding-top: 21px;
  padding-bottom: 35px;
}

.article__heading {
  margin-bottom: 10px;
  padding: 0 8px;
}

.article__text {
  margin: 0;
  margin-bottom: 34px;
  padding: 0 8px;
  -webkit-line-clamp: 3;
}

.article__link {
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-primary);
  transition: opacity 0.3s ease;
}

.article__link-wrapper {
  display: inline-flex;
  align-items: center;
}

.article__link-wrapper::before {
  content: "";
  margin-right: 5px;
  width: 28px;
  height: 27px;
  background: url("../img/icon-pet.svg") no-repeat center / contain;
}

.article__link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.article__link:hover {
  opacity: 0.8;
}

.article__link:hover::after {
  opacity: 1;
}

.article__link:active {
  opacity: 0.6;
}

.article--active {
  flex-direction: row;
  flex-grow: 1;
  border: none;
}

.article--active .article__tags-list {
  display: flex;
}

.article--active .article__top {
  margin-bottom: 30px;
  flex-direction: row;
}

.article--active .article__info {
  padding: 0 26px;
  padding-top: 40px;
  padding-bottom: 36px;
}

.article--active .article__heading {
  padding: 0;
  margin-bottom: 15px;
}

.article--active .article__text {
  padding: 0;
}

/* CONTACT */

.contact {
  padding-bottom: 244px;
}

.contact__inner {
  display: flex;

  background-color: #333;
}

.contact__map {
  border: none;
  width: 462px;
  flex-shrink: 0;
}

.contact__wrapper {
  padding-top: 62px;
  padding-bottom: 74px;
  padding-left: 166px;
  padding-right: 320px;
  background-image: url(../img/form-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 95%;
  background-size: 135%;
}

.contact__heading {
  margin-bottom: 14px;
  color: #fff;
}

.contact__text {
  margin: 0;
  margin-bottom: 29px;
}

.contact__form-input {
  display: block;
  width: 100%;
  padding: 14px 22px;
}

.contact__form-input::placeholder {
  color: var(--color-text-secondary);
}

textarea.contact__form-input {
  min-height: 165px;
  resize: vertical;
}

.contact__form-input:not(:last-child) {
  margin-bottom: 14px;
}

.contact__form-button {
  margin-top: 30px;
}

/* SITE-FOOTER */

.site-footer {
  position: relative;
  z-index: 1;
  padding-top: 54px;
  padding-bottom: 69px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-primary);
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
}

.site-footer__inner {
  display: flex;
  align-items: flex-start;
}

.footer__logo-wrapper {
  margin-right: 67px;
  align-self: center;
}

.footer-nav {
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__list:not(:last-child) {
  margin-right: 87px;
}

.footer-nav__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-text-primary);
  transition: opacity 0.3s ease;
}

.footer-nav__link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background-color: #f4ffad;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-nav__link:hover::after {
  opacity: 1;
}

.footer-nav__link:active {
  opacity: 0.6;
}

.footer__working-times {
  margin-right: 112px;
}

.footer__address {
  margin-right: 87px;
  max-width: 185px;
}

.copyright {
  position: absolute;
  bottom: 23px;
  right: 65px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
}
